html{
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    background-color:#60a9ff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    padding: 25px 25px;
    padding-bottom:25px 25px;
}
ul {
    list-style-type: none;
    
}
.panel{
    
        background-color: white;
        border-radius: 10px;
        padding: 5px 25px;
        width: 80%;
        max-width: 960px;
        display: flex;
        flex-direction:column;
        text-align: center;

}
.priceplans{
    border-bottom: 1px solid #e1f1ff;
    border-top: 1px solid #e1f1ff;
}
.priceplans:first-child{
    border-top: none;
}
.priceplans:last-child{
    border-bottom: none;
}
.priceimage{
    margin-bottom:25px;
    max-width:100%;
}
.priceheading{
color:#888;
font-weight: 600;
font-size: 18px;
letter-spacing:1px;

}
.pricefeature{
    margin:50px 0 25px;
    color: #016ff9;
}
.pricefeature-itm{
   
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    padding:15px 0;
    border-top:1px solid#e1f1ff ;
}
.pricefeature-itm:last-child{
    border-bottom:1px solid#e1f1ff ;
}
.price{
    color:#016ff9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}
.pricebutton{
    border:1px solid #9dd1ff;
    border-radius: 10px;
    color:#348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}
.pricebutton:hover,.pricebutton:focus{
    background-color: #e1f1ff;

}
.pricebutton.is-feature{
    background-color: #48aaff;
    color:white;
}
.pricebutton.is-feature:hover,.pricebutton.is-feature:focus{
    background-color: #269aff;
    color:white;
}
@media (min-width:900px){
    .panel
    {
        flex-direction: row;
    }
    .priceplans{
        border-bottom: none;
        border-top: none;
        border-right: 1px solid #e1f1ff;
        padding:25px 50px;
    }
    .priceplans:last-child{
        border-right: none;
    }
}
