
#Btn {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 25px;
    z-index: 99;
    font-size: 18px;
    border-width: 0ch;
    border: none;
    outline: none;
    background-color:white;
    color:#EA1C2C;
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 50%;;
    padding-inline-end: 5ch;
    text-align: center;
  }
  
#Btn:hover {
 background-color:#f498b8;
  }
body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}
#mainnavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainnavbar .nav-link {
    color: white;
}

#mainnavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainnavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}
.ele h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
 }
 
 .ele p {
     color: #f498b8;
     font-weight: 100;
     font-size: 1.125rem;
     line-height: 2;
 }
 
 .content {
     margin-top: 100px;
     margin-bottom: 100px;
 }
#heading span {
    color: #EA1C2C;
}

#heading h1 {
    font-weight: 100;
    font-size: 4rem;
}
.navbar.scrolling {
    background: #dec0de;
    transition: background 200ms;
}
footer {
    text-align: center;
    padding: 3px;
    background-color:#dec0de ;
    color:#EA1C2C;
  }
  .fa {

   text-size-adjust: bold;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color:white;

  }
  
  .fa:hover {
      opacity: 0.7;
      color: #EA1C2C;
  }
 
@media (max-width: 1200px) {
    #heading h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .ele h2 {
        font-size: 2rem;
    }
}
